#s5_accordion_menu {
	margin:0px;
}

#s5_accordion_menu h3 {
	border: solid 1px #D8D8D8;
	margin-bottom:-1px;
	font-size:10pt;
	}

#s5_accordion_menu h3.s5_am_parent {
	cursor: pointer;
	background:url(../images/s5_accordion_menu_back_not.png) no-repeat top right;
	padding-right:24px;
	position:relative;
	}
	
#s5_accordion_menu h3.s5_am_open {
	background:url(../images/s5_accordion_menu_back_act.png) no-repeat top right;
	border:none;
	}
	
#s5_accordion_menu h3.s5_am_not_parent {
	cursor: pointer;
	}
	
#s5_accordion_menu h3.s5_am_toggler div {
	margin:0px;
	padding:0px;	}

#s5_accordion_menu h3.s5_am_toggler a.mainlevel {	
	width:auto;
	border:none;
	padding:0px;
	margin:0px;	}

div.s5_accordion_menu_element li {	
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	}
	
div.s5_accordion_menu_element {
	width:auto;
}
	
ul.s5_am_innermenu {
	padding-bottom:4px;
	padding-left:0px;
	margin-left:0px;
	margin-top:0px;	}
	
ul.s5_am_innermenu a:hover {
	text-decoration:underline;
}


